@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Aileron Regular
---------------
font-family: "aileron", sans-serif;
font-weight: 400;
font-style: normal;

Aileron Italic
--------------
font-family: "aileron", sans-serif;
font-weight: 400;
font-style: italic;

Aileron Bold
------------
font-family: "aileron", sans-serif;
font-weight: 700;
font-style: normal;

Aileron Bold Italic
-------------------
font-family: "aileron", sans-serif;
font-weight: 700;
font-style: italic;
 */

@layer base {
	h1, h2, h3, h4, h5 {
		@apply font-sans;
		@apply mb-2;
	}
	
	h1, h2, h3, h4, h5, h6 {
		@apply font-bold;
		@apply leading-tight;
	}
	
	h1 {
		@apply text-xl;
	}
	
	h2 {
		@apply text-lg;
	}
	
	h3 {
		@apply text-md;
		@apply font-medium;
	}
	
	h4 {
		@apply tracking-wide;
	}
	
	p {
		@apply my-4;
	}
	
	a {
		@apply underline;
	}
}