@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Aileron Regular
---------------
font-family: "aileron", sans-serif;
font-weight: 400;
font-style: normal;

Aileron Italic
--------------
font-family: "aileron", sans-serif;
font-weight: 400;
font-style: italic;

Aileron Bold
------------
font-family: "aileron", sans-serif;
font-weight: 700;
font-style: normal;

Aileron Bold Italic
-------------------
font-family: "aileron", sans-serif;
font-weight: 700;
font-style: italic;
 */

@layer base {
	h1, h2, h3, h4, h5 {
		@apply font-sans;
		@apply mb-2;
	}
	
	h1, h2, h3, h4, h5, h6 {
		@apply font-bold;
		@apply leading-tight;
	}
	
	h1 {
		@apply text-xl;
		@apply md:text-2xl;
		@apply lg:text-3xl;
	}
	
	h2 {
		@apply text-lg;
		@apply md:text-xl;
		@apply lg:text-2xl;
	}
	
	h3 {
		@apply text-md;
		@apply md:text-lg;
		@apply lg:text-xl;
	}
	
	h4 {
		@apply text-base;
		@apply md:text-md;
		@apply lg:text-lg;
	}
	
	h5 {
		@apply tracking-wide;
		@apply lg:text-md;
	}
	
	p {
		@apply my-4;
	}
	
	p:last-child {
		@apply mb-0;
	}
	
	a {
		@apply underline;
	}
	
	a:hover, a:focus {
		@apply text-sky;
	}
	
	.fes-stylized {
		@apply rounded-tl-[25px];
		@apply xs:rounded-tl-[50px];
		@apply md:rounded-tl-[75px];
		@apply rounded-br-[25px];
		@apply xs:rounded-br-[50px];
		@apply md:rounded-br-[75px];
		@apply border-r-4;
		@apply md:border-r-8;
		@apply border-b-4;
		@apply md:border-b-8;
		@apply border-black;
	}
	
	figcaption {
		@apply font-bold;
		@apply uppercase;
		@apply tracking-wider;
		@apply text-sm;
	}
}